<div class="about-page">
  <div class="container">
    <div class="row">
      <div class="col-5">
        <%= image_tag "MAMA-PLAZA.jpg" %>
      </div>
      <div class="col-7 about-box">
        <h3>About</h3>
        <p><i class="fas fa-comment"></i> 他のママと話してみたい<br>
           <i class="fas fa-comment"></i> 育児の悩みを専門家に相談したい<br>
             Mama Plazaは、<br>
             そんな悩みを解決するためのママ向けコミュニティサイトです。</p>
      </div>
    </div>
  </div>
</div>