<div class="about-page">
  <div class="container">
    <div class="row">
      <div class="col-md-5 about-box">
        <h3>About Mama Plaza</h3>
        <p>▼他のママと話してみたい<br>
           ▼育児の悩みを専門家に相談したい<br>
             Mama Plazaは、<br>
             そんな悩みを解決するためのママ向けコミュニティサイトです。</p>
      </div>
      <div class="col-md-3">
        <%= image_tag "MAMA-PLAZA.jpg", class: "about-img" %>
      </div>
    </div>
  </div>
</div>