<div class="container">
  <div class="row d-flex justify-content-center">
    <h2 class="border-bottom border-gray m-0 pr-1 post-blog-heading">検索結果</h2>
  </div>
      <% if @range == "User" %>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.name, user_path(user) %></td>
            </tr>
          <% end %>
        </tbody>
      <% else %>
        <%= render 'users/posts/post', posts: @posts %>
      <% end %>
    </table>
  </div>
</div>