<div class="container">
  <div class="row d-flex justify-content-center">
    <h2 class="border-bottom border-gray m-0 pr-1 post-blog-heading">検索結果</h2>
  </div>
  <div class="row">
    <div class="col-2 text-center">
      <%= render 'users/posts/sidebar' %>
    </div>
    <div class ="col-10  card-list p-5">
      <% if @range == "User" %>
        <%= render 'users/users/user', users: @users %>
      <% else %>
        <%= render 'users/posts/post', posts: @posts %>
      <% end %>
    </div>
  </div>
</div>