/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*@import "font-awesome";*/

/*body {
  background-color:  #F6CFD2;
}*/




/*全体の設定*/

html {
  height: 100%;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  display: flex; /*フッター用の設定*/
  flex-direction: column;
  min-height: 100vh;
}

#html-top,#body-top {height: 100%;}
#body-top {
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #776955; /*文字色*/
  font-size: 16px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  /*background: #ea96a3; /*背景色*/
}


/*リンク設定*/

#logo-top {
  color: #776955; /*テキストリンクの色*/
  transition: 0.5s; /*マウスオンの時間*/
}

#logo-top:hover {
  color: #ff4765; /*マウスオンの時の文字色*/
  text-decoration: none; /*マウスオンの時に下線を消す*/
}


/*ヘッダー*/

#header-top {
  height: 100%;
  overflow: auto;
  position: relative;
  background-color: #f4f2e9;
}

/*ロゴ*/

#logo {
  display: block;
  width: 20%;
  position: absolute;
  left: 35%;
  bottom: 50%;
}

/*メニューバー*/

.menubar {
  position: absolute;
  bottom: 20%;
  left: 0px;
  width: 100%;
  text-align: center;
}

.menubar li {
  display: inline-block;
  margin: 0 1%;
  margin-bottom: 30px;
}

.menubar li a {
  text-decoration: none;
  display: block;
  text-align: center;
  width: 140px; /*メニューバーの幅*/
  color: #444440; /*文字色*/
  border-bottom: 2px solid transparent;
  padding-bottom: 7px;
}

/*マウスオンの時*/

.menubar li a:hover {
  border-bottom: 2px solid #444440;
}

/*ヘッダーの設定*/

header{
  height: 110px;
}

.nav-link {
  color: #679483;
}

.nav-link:hover {
  color: #1d4741;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(103,148,131,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/*メインの設定*/

main {
  min-height: calc(100vh - 100px - 60px);
}

/*サイドバーの設定*/

.sidebar-table {
  padding-top: 20px;
}

/*マウスオンの時*/

.category-index li a:hover {
  color: #bb3636;
}
/*投稿一覧の設定*/

.post-index {
  width: 800px;
  display: flex;
  justify-content: center;
  margin: 0 auto; /* 中央揃え */
  padding: 70px 0; /* 上下に70px、左右に0pxの内側余白 */
}

.post-blog-heading {
  padding-top: 70px;
  text-align: center;
  line-height: 0.6;
}

.post-box {
  padding-top: 50px;
}

.post-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f7f7f7;
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
}

.post-text {
  padding: 25px 0 0 30px;
}

.post-title {
  padding-bottom: 15px;
}

.post-date {
  font-size: 12px;
  display: inline-block;
}

.card-lists {
  margin-top: 50px;
}

/*投稿詳細の設定*/

.flash {
  margin-top: 30px;
}

.post-btn {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 0;
}

.post-content {
  padding-top: 20px;
  padding-left: 20px;
}

.post-body {
  padding: 20px;
}

.post-favorite {
  padding-left: 20px;
}

.post-comment {
  padding: 20px;
}

/*ユーザーページの設定*/

.follow-button {
  font-size: 20px;
  text-align: right;
}

.user-text {
  padding-left: 0px;
  margin-top: 15px;
}

/*ページの設定*/

.pagination {
  margin-top: 20px;
  justify-content: center;
}

.pagination>li>a {
  border: none;
  color: #679483;
}

.pagination>.active>a {
  background: #f4f2e9;
}

/*テキストリンクの設定*/

.text-link {
  color: #8ab3a4;
}

.text-link:hover {
  color: #a6cfc0;
}

/*フッターの設定*/

.footerFixed {
  position: relative;
  padding-bottom: 80px;
  box-sizing: border-box;
  background-color: #f4f2e9;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #f4f2e9;
}

.footer-font {
  color: #679483;
}

/*Aboutページの設定*/

.about-page {
  background-color: #f4f2e9;
  height:100vh;
}

.about-box {
  margin-top: 80px;
}