<div class="sidebar">
  <div class="sidebar-categories">
    <h2 class="sidebar-header">カテゴリ</h2>
    <ul class="category-index">
      <li><%= link_to 'くらし', living_posts_path %></li>
      <li><%= link_to 'おでかけ', trip_posts_path %></li>
      <li><%= link_to 'ごはん', food_posts_path %></li>
      <li><%= link_to 'ざつだん', talk_posts_path %></li>
    </ul>
  </div>
</div>